{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="not-empty-cart">
    <h3 class="text-center">Ваша корзина</h3>
    <br>
    <table class="table">
        <tr>
            <td class='text-center' style="font-weight: bold">Товар</td>
            <td class='text-center' style="font-weight: bold">Кількість</td>
            <td class='text-center' style="font-weight: bold">Ціна</td>
            <td class='text-center'></td>
        </tr>
        {% for product in carts %}
        <tr class="cart-item-{{ product.id }}">
            <td class='text-center'>{{ product.name }}</td>
{#            <td class='text-center'>#}
{#                <form>#}
{#                    <input type='number' name="quantity" value="{{ product.quantity }}" min="1" max="999" style="width: 70px" class='cart-item-quantity' data-id="{{ product.id }}">#}
{#                </form>#}
{#            </td>#}
            <td class='text-center' id="cart-item-total-{{ product.id }}">{{ product.total }} грн.</td>
            <td class='text-center'><a href="#" class="remove_from_cart" data-slug="{{ product.cart_id }}" data-id="{{ product.id }}"><button class="btn btn-danger">Видалити з корзини</button></a></td>
        </tr>
        {% endfor %}
        <tr>
            <td class='text-center'></td>
            <td class='text-center' style="font-weight: bold">Ітогова ціна</td>
            <td class='text-center' id="cart-total-price" style="font-weight: bold">{{ cart_cost }} грн.</td>
            <td class='text-center'><a href="{% url 'checkout' %}"><button class="btn btn-success">Переглянути попереднє замовлення</button></a></td>
        </tr>
    </table>
</div>
<div class="empty-cart">
    <br>
    <h3 class="text-center">Ваша корзина порожня... &#x1F622;<br>Додайте щось до неї!</h3>
    <br>
</div>
<script src="{% static 'js/jquery.js' %}"></script>
{% if carts %}
    <script>
        $('.empty-cart').hide()
    </script>
{% else %}
    <script>
        $('.not-empty-cart').hide()
    </script>
{% endif %}
{% else %}<p class="text-center"><br>Користуватися корзиною можуть лише авторизовані користувачі. <br> Будь-ласка, <a href="#">авторизуйтеся</a> або <a href="#">зареєруйтеся</a>.</p>
{% endif%}
<script>
    $(document).ready(function()
    {
        $('.remove_from_cart').on('click', function(e)
        {
            e.preventDefault()
            product_slug = $(this).attr('data-slug')
            item_product_id = $(this).attr('data-id')
            data = {
                product_slug: product_slug
            }
            $.ajax({
                type: "GET",
                url: "{% url 'remove_from_cart' %}",
                data: data,
                success: function(data){
                    $("#cart_count").html(data.cart_total)
                    $(".cart-item-"+item_product_id).css('display', 'none')
                    $("#cart-total-price").html(parseFloat(data.cart_total_cost).toFixed(2))
                    if(parseInt(data.cart_total) == 0){
                        $('.empty-cart').show()
                        $('.not-empty-cart').hide()
                    }
                }
            })
        })
    })
</script>
{#<script>#}
{#    $(document).ready(function(){#}
{#        $('.cart-item-quantity').on('click', function(){#}
{#            quantity = $(this).val()#}
{#            item_id = $(this).attr('data-id')#}
{#            data = {#}
{#                quantity: quantity,#}
{#                item_id: item_id#}
{#            }#}
{#            $.ajax({#}
{#                type: "GET",#}
{#                url: '{% url 'change_item_quantity' %}',#}
{#                data: data,#}
{#                success: function(data){#}
{#                    $("#cart-item-total-" + item_id).html(parseFloat(data.item_total).toFixed(2) + ' грн')#}
{#                    $("#cart-total-price").html(parseFloat(data.cart_total_cost).toFixed(2) + ' грн')#}
{#                }#}
{#            })#}
{#        })#}
{#    })#}
{#</script>#}

{% endblock content %}