{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center">Ваше попереднє замовлення</h3>
    <br>
    <table class="table">
        <tr>
            <td class='text-center' style="font-weight: bold">Товар</td>
            <td class='text-center' style="font-weight: bold">Кількість</td>
            <td class='text-center' style="font-weight: bold">Ціна</td>
            <td class='text-center'></td>
        </tr>
        {% for product in cart %}
        <tr class="cart-item-{{ item.product.id }}">
            <td class='text-center'>{{ product.name }}</td>
            <td class='text-center'>{{ product.quantity }}</td>
            <td class='text-center'>{{ product.total }} грн.</td>
            <td class='text-center'></td>
        </tr>
        {% endfor %}
        <tr>
            <td class='text-center'></td>
            <td class='text-center' style="font-weight: bold">Ітогова ціна</td>
            <td class='text-center' style="font-weight: bold">{{ cart_cost }}</td>
            <td class='text-center'><a href="{% url 'order_create' %}"><button class="btn btn-success">Оформити замовлення</button></a></td>
        </tr>
    </table>
{% endblock content %}