{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<h3 class="text-center">Авторизація</h3>
<br>
<center>
<div class="col-sm-4 col-sm-offset-2">
    <form action="{% url 'login' %}" method="POST">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Авторизуватися">
    </form>
</div>
</center>
<br><br><br>
<h3 class="text-center">У немає аккаунта?<br><a href="{% url 'registration' %}">Зареєструйтеся</a>!</h3>
{% endblock content %}